@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes ripple {
  to {
    transform: scale(1.5);
    opacity: 0;
  }
}
html {
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: auto;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 0.95em;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: auto;
  color: #101936;
  background-color: #f0f0f0;
  padding: 0;
  margin: 0;
}
body.no-scroll {
  overflow: hidden !important;
}

header#cwos-header {
  position: fixed;
  height: 70px;
  width: 100%;
  background-color: #1976D2;
  padding: 9px 21px;
  padding-left: 81px;
  z-index: 140;
}
header#cwos-header #aside-toggle {
  position: absolute;
  left: 15px;
  top: 10px;
  width: 50px;
  height: 50px;
  border-radius: 4px;
}
header#cwos-header #aside-toggle #cwos-navbar-toggle,
header#cwos-header #aside-toggle #cwos-sidebar-toggle {
  height: 50px;
  width: 50px;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  border-color: transparent;
  box-shadow: none;
  margin: 0;
  padding: 15px;
  z-index: 0;
  background-color: rgba(236, 240, 241, 0.5);
}
header#cwos-header #aside-toggle #cwos-navbar-toggle:hover,
header#cwos-header #aside-toggle #cwos-sidebar-toggle:hover {
  border-color: #d5dde0;
  color: #1976D2;
}
header#cwos-header #aside-toggle #cwos-navbar-toggle::before,
header#cwos-header #aside-toggle #cwos-sidebar-toggle::before {
  font-family: "Font Awesome 5 Pro", "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 1.2em;
}
header#cwos-header #aside-toggle #cwos-navbar-toggle.active,
header#cwos-header #aside-toggle #cwos-sidebar-toggle.active {
  background-color: #c9d4d7;
  color: #1976D2;
}
header#cwos-header #aside-toggle #cwos-navbar-toggle::before {
  content: "\f0c9";
}
header#cwos-header #aside-toggle #cwos-navbar-toggle.active::before {
  content: "\f00d";
}
header#cwos-header #aside-toggle #cwos-sidebar-toggle::before {
  content: "\f204";
}
header#cwos-header #aside-toggle #cwos-sidebar-toggle.active::before {
  content: "\f205";
}
header#cwos-header #cwos-prjtitle {
  position: relative;
  width: 240px;
  height: 50px;
  padding: 5px 6px;
  text-align: center;
  overflow: hidden;
}
header#cwos-header #cwos-prjtitle #cwos-prjicon {
  height: 100%;
}
header#cwos-header #cwos-prjtitle #cwos-prjicon img {
  height: 100%;
  width: auto;
}
header#cwos-header #cwos-prjtitle a:hover {
  opacity: 0.7;
}
header#cwos-header.centre #cwos-prjtitle {
  margin: 0 auto;
}
header#cwos-header.strict-centre #cwos-prjtitle {
  margin: 0 auto !important;
}
header#cwos-header #cwos-barwrp {
  position: absolute;
  top: 0;
  right: 0;
  height: 70px;
  width: 70px;
  background-color: #fff;
}
header#cwos-header #cwos-user,
header#cwos-header #cwos-notification,
header#cwos-header #cwos-cart {
  position: absolute;
  top: 0;
  width: 70px;
  height: 70px;
  border-bottom-width: 10px;
  border-bottom-style: solid;
  border-bottom-color: transparent !important;
  color: #101936;
  transition: all 0.2s ease-in;
}
header#cwos-header #cwos-user:hover,
header#cwos-header #cwos-notification:hover,
header#cwos-header #cwos-cart:hover {
  cursor: pointer;
}
header#cwos-header #cwos-user h1, header#cwos-header #cwos-user h2, header#cwos-header #cwos-user h3, header#cwos-header #cwos-user h4, header#cwos-header #cwos-user h5, header#cwos-header #cwos-user h6, header#cwos-header #cwos-user p,
header#cwos-header #cwos-notification h1,
header#cwos-header #cwos-notification h2,
header#cwos-header #cwos-notification h3,
header#cwos-header #cwos-notification h4,
header#cwos-header #cwos-notification h5,
header#cwos-header #cwos-notification h6,
header#cwos-header #cwos-notification p,
header#cwos-header #cwos-cart h1,
header#cwos-header #cwos-cart h2,
header#cwos-header #cwos-cart h3,
header#cwos-header #cwos-cart h4,
header#cwos-header #cwos-cart h5,
header#cwos-header #cwos-cart h6,
header#cwos-header #cwos-cart p {
  margin: 3.5px 0;
}
header#cwos-header #cwos-user .cwos-dropbar,
header#cwos-header #cwos-notification .cwos-dropbar,
header#cwos-header #cwos-cart .cwos-dropbar {
  width: 280px;
  position: absolute;
  top: 69px;
  right: 0;
  cursor: auto;
  opacity: 0;
  height: 0;
  background-color: #fff;
  color: #101936;
  overflow: hidden;
}
header#cwos-header #cwos-user .cwos-dropbar .cwos-dropbar-description,
header#cwos-header #cwos-notification .cwos-dropbar .cwos-dropbar-description,
header#cwos-header #cwos-cart .cwos-dropbar .cwos-dropbar-description {
  display: block;
  padding: 21px 16px;
  margin: 0;
  font-weight: lighter;
}
header#cwos-header #cwos-user .cwos-dropbar .cwos-dropbar-list,
header#cwos-header #cwos-notification .cwos-dropbar .cwos-dropbar-list,
header#cwos-header #cwos-cart .cwos-dropbar .cwos-dropbar-list {
  position: relative;
  list-style: none;
  margin: 0;
  padding: 0;
}
header#cwos-header #cwos-user .cwos-dropbar .cwos-dropbar-list li,
header#cwos-header #cwos-notification .cwos-dropbar .cwos-dropbar-list li,
header#cwos-header #cwos-cart .cwos-dropbar .cwos-dropbar-list li {
  position: relative;
  padding: 16px 18px;
  font-size: 0.95em;
  transition: all 0.2s ease-in;
}
header#cwos-header #cwos-user .cwos-dropbar .cwos-dropbar-list li::before, header#cwos-header #cwos-user .cwos-dropbar .cwos-dropbar-list li::after,
header#cwos-header #cwos-notification .cwos-dropbar .cwos-dropbar-list li::before,
header#cwos-header #cwos-notification .cwos-dropbar .cwos-dropbar-list li::after,
header#cwos-header #cwos-cart .cwos-dropbar .cwos-dropbar-list li::before,
header#cwos-header #cwos-cart .cwos-dropbar .cwos-dropbar-list li::after {
  position: absolute;
  display: block;
  content: "";
  height: 1px;
  background-color: #d5dde0;
  bottom: 0;
  transition: width 0.5s ease-in;
}
header#cwos-header #cwos-user .cwos-dropbar .cwos-dropbar-list li::before,
header#cwos-header #cwos-notification .cwos-dropbar .cwos-dropbar-list li::before,
header#cwos-header #cwos-cart .cwos-dropbar .cwos-dropbar-list li::before {
  left: 5%;
  width: 35%;
}
header#cwos-header #cwos-user .cwos-dropbar .cwos-dropbar-list li::after,
header#cwos-header #cwos-notification .cwos-dropbar .cwos-dropbar-list li::after,
header#cwos-header #cwos-cart .cwos-dropbar .cwos-dropbar-list li::after {
  right: 0;
  z-index: 2;
  width: 0px;
}
header#cwos-header #cwos-user .cwos-dropbar .cwos-dropbar-list li:hover,
header#cwos-header #cwos-notification .cwos-dropbar .cwos-dropbar-list li:hover,
header#cwos-header #cwos-cart .cwos-dropbar .cwos-dropbar-list li:hover {
  cursor: pointer;
  background-color: #f2f5f5;
}
header#cwos-header #cwos-user .cwos-dropbar .cwos-dropbar-list li:hover::after,
header#cwos-header #cwos-notification .cwos-dropbar .cwos-dropbar-list li:hover::after,
header#cwos-header #cwos-cart .cwos-dropbar .cwos-dropbar-list li:hover::after {
  width: 100%;
}
header#cwos-header #cwos-user .cwos-dropbar .cwos-dropbar-list li a,
header#cwos-header #cwos-notification .cwos-dropbar .cwos-dropbar-list li a,
header#cwos-header #cwos-cart .cwos-dropbar .cwos-dropbar-list li a {
  display: block;
  color: inherit;
  outline: none;
  border: none;
  text-decoration: none;
}
header#cwos-header #cwos-user.active .cwos-dropbar,
header#cwos-header #cwos-notification.active .cwos-dropbar,
header#cwos-header #cwos-cart.active .cwos-dropbar {
  box-shadow: 0 1.5px 1.1px -1px #000;
  overflow: visible;
}
header#cwos-header #cwos-notification,
header#cwos-header #cwos-cart {
  font-size: 1.35em;
  padding: 22px;
  padding-bottom: 12px;
  text-align: center;
}
header#cwos-header #cwos-notification::before,
header#cwos-header #cwos-cart::before {
  font-family: "Font Awesome 5 Pro", "Font Awesome 5 Free";
  font-weight: 400;
}
header#cwos-header #cwos-notification.full,
header#cwos-header #cwos-cart.full {
  border-bottom-color: rgba(244, 67, 54, 0.7) !important;
}
header#cwos-header #cwos-notification .cwos-dropbar,
header#cwos-header #cwos-cart .cwos-dropbar {
  font-size: 0.75em;
  text-align: left;
}
header#cwos-header #cwos-notification .cwos-dropbar-list li,
header#cwos-header #cwos-cart .cwos-dropbar-list li {
  min-height: 70px;
  padding-right: 45px;
}
header#cwos-header #cwos-notification .cwos-dropbar-list li .cwos-button,
header#cwos-header #cwos-notification .cwos-dropbar-list li .cwos-btn,
header#cwos-header #cwos-notification .cwos-dropbar-list li .theme-button,
header#cwos-header #cwos-notification .cwos-dropbar-list li .theme-btn,
header#cwos-header #cwos-cart .cwos-dropbar-list li .cwos-button,
header#cwos-header #cwos-cart .cwos-dropbar-list li .cwos-btn,
header#cwos-header #cwos-cart .cwos-dropbar-list li .theme-button,
header#cwos-header #cwos-cart .cwos-dropbar-list li .theme-btn {
  position: absolute;
  margin: 0;
  right: 3px;
  top: 0;
  height: 25px;
  width: 30px;
  box-shadow: none;
  border-radius: 0;
  padding: 8px 12px;
  margin: 0 3px 12px 12px;
}
header#cwos-header #cwos-notification .cwos-dropbar-list li.unread,
header#cwos-header #cwos-cart .cwos-dropbar-list li.unread {
  font-weight: bold;
}
header#cwos-header #cwos-notification .cwos-dropbar-list li.critical,
header#cwos-header #cwos-cart .cwos-dropbar-list li.critical {
  border-left-color: #F44336 !important;
}
header#cwos-header #cwos-notification .cwos-dropbar-list li.urgent,
header#cwos-header #cwos-cart .cwos-dropbar-list li.urgent {
  border-left-color: #FFC107 !important;
}
header#cwos-header #cwos-notification .cwos-dropbar-list li.important,
header#cwos-header #cwos-cart .cwos-dropbar-list li.important {
  border-left-color: #2196F3 !important;
}
header#cwos-header #cwos-notification .cwos-dropbar-list li.normal, header#cwos-header #cwos-notification .cwos-dropbar-list li.low, header#cwos-header #cwos-notification .cwos-dropbar-list li.defer,
header#cwos-header #cwos-cart .cwos-dropbar-list li.normal,
header#cwos-header #cwos-cart .cwos-dropbar-list li.low,
header#cwos-header #cwos-cart .cwos-dropbar-list li.defer {
  border-left-color: #9E9E9E !important;
}
header#cwos-header #cwos-notification::before {
  content: "\f0f3";
}
header#cwos-header #cwos-notification.full::before {
  content: "\f8fa";
  font-weight: 900;
}
header#cwos-header #cwos-cart::before {
  content: "\f07a";
}
header#cwos-header #cwos-cart.full::before {
  content: "\f217";
  font-weight: 900;
}
header#cwos-header #cwos-user {
  right: 0;
  background-color: rgba(25, 118, 210, 0.2);
}
header#cwos-header #cwos-user #cwos-user-title,
header#cwos-header #cwos-user #cwos-user-avatar {
  height: 100%;
  float: left;
}
header#cwos-header #cwos-user #cwos-user-title {
  display: none;
  width: 140px;
  font-family: "Nunito Sans";
  font-size: 1.2em;
  padding: 25px 10px 5px 10px;
  text-align: center;
  overflow: hidden;
}
header#cwos-header #cwos-user #cwos-user-avatar {
  width: 70px;
  padding: 15px 15px 5px 15px;
}
header#cwos-header #cwos-user #cwos-user-avatar img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
}
header#cwos-header #cwos-user:hover {
  background-color: rgba(25, 118, 210, 0.8);
  color: #ffffff;
}
header#cwos-header #cwos-user.active {
  border-bottom-color: #1976D2 !important;
  overflow: visible;
}
header#cwos-header #cwos-user.active > .cwos-dropbar {
  overflow: visible !important;
}
header#cwos-header #cwos-user .cwos-dropbar-list li:hover {
  color: #115292;
}
header#cwos-header #cwos-user .cwos-dropbar-list li:hover::after {
  background-color: #1976D2 !important;
}
header#cwos-header #cwos-notification {
  right: 70px;
  background-color: rgba(255, 235, 59, 0.2);
}
header#cwos-header #cwos-notification:hover {
  background-color: rgba(255, 235, 59, 0.8);
  color: #000;
}
header#cwos-header #cwos-notification.active {
  border-bottom-color: #FFEB3B !important;
}
header#cwos-header #cwos-notification .cwos-dropbar {
  right: -105px;
  font-size: 0.7em;
}
header#cwos-header #cwos-notification .cwos-dropbar-list li:hover {
  color: #FFEB3B;
  background-color: #333333 !important;
}
header#cwos-header #cwos-notification .cwos-dropbar-list li:hover::after {
  background-color: #FFEB3B !important;
}
header#cwos-header #cwos-notification .cwos-dropbar-list li {
  border-left: solid 5px #9E9E9E;
}
header#cwos-header #cwos-notification .cwos-dropbar-list li.priority-urgent {
  border-left-color: #9C27B0 !important;
}
header#cwos-header #cwos-notification .cwos-dropbar-list li.priority-high {
  border-left-color: #F44336 !important;
}
header#cwos-header #cwos-cart {
  right: 140px;
  background-color: rgba(255, 193, 7, 0.2);
}
header#cwos-header #cwos-cart:hover {
  background-color: rgba(255, 193, 7, 0.8);
  color: #000;
}
header#cwos-header #cwos-cart.active {
  border-bottom-color: #FFC107 !important;
}
header#cwos-header #cwos-cart .cwos-dropbar {
  left: 0px !important;
  right: auto;
}
header#cwos-header #cwos-cart .cwos-dropbar-list li:hover {
  color: #bf8f00;
}
header#cwos-header #cwos-cart .cwos-dropbar-list li:hover::after {
  background-color: #FFC107 !important;
}
header#cwos-header #cwos-mobxtra-icon {
  position: relative;
  height: 70px;
  margin-bottom: 21px;
  z-index: 20;
}
header#cwos-header #cwos-mobxtra-icon button {
  border: none !important;
}
header#cwos-header #cwos-mobxtra-icon #cwos-notification-xtra,
header#cwos-header #cwos-mobxtra-icon #cwos-cart-xtra {
  position: absolute;
  top: 0;
  width: 70px;
  height: 70px;
  border-bottom-width: 10px;
  border-bottom-style: solid;
  border-bottom-color: transparent !important;
  transition: all 0.2s ease-in;
  font-size: 1.35em;
  padding: 22px;
  padding-bottom: 12px;
  text-align: center;
}
header#cwos-header #cwos-mobxtra-icon #cwos-notification-xtra::before,
header#cwos-header #cwos-mobxtra-icon #cwos-cart-xtra::before {
  font-family: "Font Awesome 5 Pro", "Font Awesome 5 Free";
  font-weight: 400;
}
header#cwos-header #cwos-mobxtra-icon #cwos-notification-xtra.full,
header#cwos-header #cwos-mobxtra-icon #cwos-cart-xtra.full {
  border-bottom-color: rgba(244, 67, 54, 0.7) !important;
}
header#cwos-header #cwos-mobxtra-icon #cwos-notification-xtra .cwos-dropbar,
header#cwos-header #cwos-mobxtra-icon #cwos-cart-xtra .cwos-dropbar {
  font-size: 0.75em;
  text-align: left;
}
header#cwos-header #cwos-mobxtra-icon #cwos-notification-xtra:hover,
header#cwos-header #cwos-mobxtra-icon #cwos-cart-xtra:hover {
  cursor: pointer;
}
header#cwos-header #cwos-mobxtra-icon #cwos-notification-xtra h1, header#cwos-header #cwos-mobxtra-icon #cwos-notification-xtra h2, header#cwos-header #cwos-mobxtra-icon #cwos-notification-xtra h3, header#cwos-header #cwos-mobxtra-icon #cwos-notification-xtra h4, header#cwos-header #cwos-mobxtra-icon #cwos-notification-xtra h5, header#cwos-header #cwos-mobxtra-icon #cwos-notification-xtra h6, header#cwos-header #cwos-mobxtra-icon #cwos-notification-xtra p,
header#cwos-header #cwos-mobxtra-icon #cwos-cart-xtra h1,
header#cwos-header #cwos-mobxtra-icon #cwos-cart-xtra h2,
header#cwos-header #cwos-mobxtra-icon #cwos-cart-xtra h3,
header#cwos-header #cwos-mobxtra-icon #cwos-cart-xtra h4,
header#cwos-header #cwos-mobxtra-icon #cwos-cart-xtra h5,
header#cwos-header #cwos-mobxtra-icon #cwos-cart-xtra h6,
header#cwos-header #cwos-mobxtra-icon #cwos-cart-xtra p {
  margin: 3.5px 0;
}
header#cwos-header #cwos-mobxtra-icon #cwos-notification-xtra .cwos-dropbar,
header#cwos-header #cwos-mobxtra-icon #cwos-cart-xtra .cwos-dropbar {
  width: 280px;
  position: absolute;
  top: 70px;
  right: 0;
  cursor: auto;
  opacity: 0;
  height: 0;
  background-color: #fff;
  color: #101936;
  overflow: hidden;
}
header#cwos-header #cwos-mobxtra-icon #cwos-notification-xtra .cwos-dropbar .cwos-dropbar-description,
header#cwos-header #cwos-mobxtra-icon #cwos-cart-xtra .cwos-dropbar .cwos-dropbar-description {
  display: block;
  padding: 21px 16px;
  margin: 0;
  font-weight: lighter;
}
header#cwos-header #cwos-mobxtra-icon #cwos-notification-xtra .cwos-dropbar .cwos-dropbar-list,
header#cwos-header #cwos-mobxtra-icon #cwos-cart-xtra .cwos-dropbar .cwos-dropbar-list {
  position: relative;
  list-style: none;
  margin: 0;
  padding: 0;
}
header#cwos-header #cwos-mobxtra-icon #cwos-notification-xtra .cwos-dropbar .cwos-dropbar-list li,
header#cwos-header #cwos-mobxtra-icon #cwos-cart-xtra .cwos-dropbar .cwos-dropbar-list li {
  position: relative;
  padding: 16px 18px;
  font-size: 0.95em;
  transition: all 0.2s ease-in;
}
header#cwos-header #cwos-mobxtra-icon #cwos-notification-xtra .cwos-dropbar .cwos-dropbar-list li::before, header#cwos-header #cwos-mobxtra-icon #cwos-notification-xtra .cwos-dropbar .cwos-dropbar-list li::after,
header#cwos-header #cwos-mobxtra-icon #cwos-cart-xtra .cwos-dropbar .cwos-dropbar-list li::before,
header#cwos-header #cwos-mobxtra-icon #cwos-cart-xtra .cwos-dropbar .cwos-dropbar-list li::after {
  position: absolute;
  display: block;
  content: "";
  height: 1px;
  background-color: #d5dde0;
  bottom: 0;
  transition: width 0.5s ease-in;
}
header#cwos-header #cwos-mobxtra-icon #cwos-notification-xtra .cwos-dropbar .cwos-dropbar-list li::before,
header#cwos-header #cwos-mobxtra-icon #cwos-cart-xtra .cwos-dropbar .cwos-dropbar-list li::before {
  left: 5%;
  width: 35%;
}
header#cwos-header #cwos-mobxtra-icon #cwos-notification-xtra .cwos-dropbar .cwos-dropbar-list li::after,
header#cwos-header #cwos-mobxtra-icon #cwos-cart-xtra .cwos-dropbar .cwos-dropbar-list li::after {
  right: 0;
  z-index: 2;
  width: 0px;
}
header#cwos-header #cwos-mobxtra-icon #cwos-notification-xtra .cwos-dropbar .cwos-dropbar-list li:hover,
header#cwos-header #cwos-mobxtra-icon #cwos-cart-xtra .cwos-dropbar .cwos-dropbar-list li:hover {
  cursor: pointer;
  background-color: #f2f5f5;
}
header#cwos-header #cwos-mobxtra-icon #cwos-notification-xtra .cwos-dropbar .cwos-dropbar-list li:hover::after,
header#cwos-header #cwos-mobxtra-icon #cwos-cart-xtra .cwos-dropbar .cwos-dropbar-list li:hover::after {
  width: 100%;
}
header#cwos-header #cwos-mobxtra-icon #cwos-notification-xtra .cwos-dropbar .cwos-dropbar-list li a,
header#cwos-header #cwos-mobxtra-icon #cwos-cart-xtra .cwos-dropbar .cwos-dropbar-list li a {
  display: block;
  color: inherit;
  outline: none;
  border: none;
  text-decoration: none;
}
header#cwos-header #cwos-mobxtra-icon #cwos-notification-xtra .cwos-dropbar-list li .cwos-button,
header#cwos-header #cwos-mobxtra-icon #cwos-notification-xtra .cwos-dropbar-list li .cwos-btn,
header#cwos-header #cwos-mobxtra-icon #cwos-notification-xtra .cwos-dropbar-list li .theme-button,
header#cwos-header #cwos-mobxtra-icon #cwos-notification-xtra .cwos-dropbar-list li .theme-btn,
header#cwos-header #cwos-mobxtra-icon #cwos-cart-xtra .cwos-dropbar-list li .cwos-button,
header#cwos-header #cwos-mobxtra-icon #cwos-cart-xtra .cwos-dropbar-list li .cwos-btn,
header#cwos-header #cwos-mobxtra-icon #cwos-cart-xtra .cwos-dropbar-list li .theme-button,
header#cwos-header #cwos-mobxtra-icon #cwos-cart-xtra .cwos-dropbar-list li .theme-btn {
  position: absolute;
  margin: 0;
  right: 0;
  top: 0;
  height: 35px;
  width: 40px;
  box-shadow: none;
  border-radius: 0;
  padding: 8px 12px;
  margin: 0 0 12px 12px;
}
header#cwos-header #cwos-mobxtra-icon #cwos-notification-xtra.active .cwos-dropbar,
header#cwos-header #cwos-mobxtra-icon #cwos-cart-xtra.active .cwos-dropbar {
  box-shadow: 0 1.5px 1.1px -1px #000;
}
header#cwos-header #cwos-mobxtra-icon #cwos-notification-xtra {
  right: 0;
}
header#cwos-header #cwos-mobxtra-icon #cwos-cart-xtra {
  right: 70px;
}
header#cwos-header #cwos-mobxtra-icon #cwos-notification-xtra::before {
  content: "\f0f3";
}
header#cwos-header #cwos-mobxtra-icon #cwos-notification-xtra.full::before {
  content: "\f8fa";
  font-weight: 900;
}
header#cwos-header #cwos-mobxtra-icon #cwos-cart-xtra::before {
  content: "\f07a";
}
header#cwos-header #cwos-mobxtra-icon #cwos-cart-xtra.full::before {
  content: "\f217";
  font-weight: 900;
}
header#cwos-header #cwos-mobxtra-icon #cwos-notification-xtra {
  background-color: rgba(255, 235, 59, 0.2);
}
header#cwos-header #cwos-mobxtra-icon #cwos-notification-xtra:hover {
  background-color: rgba(255, 235, 59, 0.8);
  color: #000;
}
header#cwos-header #cwos-mobxtra-icon #cwos-notification-xtra.active {
  border-bottom-color: #FFEB3B !important;
}
header#cwos-header #cwos-mobxtra-icon #cwos-notification-xtra .cwos-dropbar {
  right: 0;
  font-size: 0.7em;
}
header#cwos-header #cwos-mobxtra-icon #cwos-notification-xtra .cwos-dropbar-list li:hover {
  color: #FFEB3B;
  background-color: #333333 !important;
}
header#cwos-header #cwos-mobxtra-icon #cwos-notification-xtra .cwos-dropbar-list li:hover::after {
  background-color: #FFEB3B !important;
}
header#cwos-header #cwos-mobxtra-icon #cwos-notification-xtra .cwos-dropbar-list li {
  border-left: solid 5px #9E9E9E;
}
header#cwos-header #cwos-mobxtra-icon #cwos-notification-xtra .cwos-dropbar-list li.priority-urgent {
  border-left-color: #9C27B0 !important;
}
header#cwos-header #cwos-mobxtra-icon #cwos-notification-xtra .cwos-dropbar-list li.priority-high {
  border-left-color: #F44336 !important;
}
header#cwos-header #cwos-mobxtra-icon #cwos-cart-xtra {
  background-color: rgba(255, 193, 7, 0.2);
}
header#cwos-header #cwos-mobxtra-icon #cwos-cart-xtra:hover {
  background-color: rgba(255, 193, 7, 0.8);
  color: #000;
}
header#cwos-header #cwos-mobxtra-icon #cwos-cart-xtra.active {
  border-bottom-color: #FFC107 !important;
}
header#cwos-header #cwos-mobxtra-icon #cwos-cart-xtra .cwos-dropbar {
  right: 0;
}
header#cwos-header #cwos-mobxtra-icon #cwos-cart-xtra .cwos-dropbar-list li:hover {
  color: #bf8f00;
}
header#cwos-header #cwos-mobxtra-icon #cwos-cart-xtra .cwos-dropbar-list li:hover::after {
  background-color: #FFC107 !important;
}
header#cwos-header .cwos-dropbar ul .cwos-btn,
header#cwos-header .cwos-dropbar ul .cwos-button,
header#cwos-header .cwos-dropbar ul .theme-btn,
header#cwos-header .cwos-dropbar ul .theme-button {
  height: 21px !important;
  top: 15px !important;
}
header#cwos-header .cwos-dropbar ul.error, header#cwos-header .cwos-dropbar ul.loading, header#cwos-header .cwos-dropbar ul.empty {
  min-height: 60px;
}
header#cwos-header .cwos-dropbar ul.loading::before, header#cwos-header .cwos-dropbar ul.error::before, header#cwos-header .cwos-dropbar ul.empty::before {
  font-family: "Font Awesome 5 Pro", "Font Awesome 5 Free";
  font-weight: 400;
  font-size: 1.2em;
  display: inline-block;
  margin: 12px 8px;
}
header#cwos-header .cwos-dropbar ul.loading::after, header#cwos-header .cwos-dropbar ul.error::after, header#cwos-header .cwos-dropbar ul.empty::after {
  font-family: inherit;
  display: inline-block;
  font-size: 0.9em;
}
header#cwos-header .cwos-dropbar ul.loading::before {
  content: "\f3f4";
  animation: spin 2s infinite linear;
  cursor: progress;
}
header#cwos-header .cwos-dropbar ul.loading::after {
  content: "Loading ... please wait";
  cursor: progress;
}
header#cwos-header .cwos-dropbar ul.error::before {
  content: "\f06a";
  font-weight: 900;
}
header#cwos-header .cwos-dropbar ul.error::after {
  content: "Failed to fetch data, contact Dev.";
}
header#cwos-header .cwos-dropbar ul.empty::before {
  content: "\f49e";
  font-weight: 400;
}
header#cwos-header .cwos-dropbar ul.empty::after {
  content: "Nothing yet.";
}
header#cwos-header :disabled {
  cursor: not-allowed;
}

aside#cwos-sidebar,
section#cwos-content {
  position: fixed;
  top: 70px;
  overflow-y: auto;
  overflow-x: hidden;
}

aside#cwos-sidebar {
  background-color: #dedede;
  width: 260px;
  left: -260px;
  opacity: 0;
  z-index: 100;
}
aside#cwos-sidebar.active {
  left: 0;
}
aside#cwos-sidebar #cwos-asidewrp {
  position: relative;
  margin: 0;
  padding: 0;
  min-height: 100%;
  height: auto;
}
aside#cwos-sidebar #cwos-asidewrp #cwos-asidespotlight {
  position: relative;
  height: 170px;
}
aside#cwos-sidebar #cwos-asidewrp #cwos-asidespotlight h1, aside#cwos-sidebar #cwos-asidewrp #cwos-asidespotlight h2, aside#cwos-sidebar #cwos-asidewrp #cwos-asidespotlight h3, aside#cwos-sidebar #cwos-asidewrp #cwos-asidespotlight h4 {
  margin: 0;
}
aside#cwos-sidebar #cwos-asidewrp #cwos-asidespotlight #cwos-slcover {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  overflow: hidden;
}
aside#cwos-sidebar #cwos-asidewrp #cwos-asidespotlight #cwos-slcover img {
  height: 100%;
  min-width: 100%;
  width: auto;
}
aside#cwos-sidebar #cwos-asidewrp #cwos-asidespotlight #cwos-slavatar {
  position: absolute;
  width: 75px;
  height: 75px;
  left: 92.5px;
  top: 20px;
  border-radius: 100%;
  border: solid 10px rgba(242, 242, 242, 0.75);
  background-color: #1976D2;
  z-index: 5;
}
aside#cwos-sidebar #cwos-asidewrp #cwos-asidespotlight #cwos-slavatar img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
}
aside#cwos-sidebar #cwos-asidewrp #cwos-asidespotlight #cwos-sltitle {
  position: absolute;
  left: 5%;
  bottom: 14px;
  height: 55px;
  width: 90%;
  background-color: rgba(255, 255, 255, 0.85);
  z-index: 5;
  padding: 5px 45px 5px 8px;
  border-radius: 3px;
}
aside#cwos-sidebar #cwos-asidewrp #cwos-asidespotlight #cwos-sltitle h3, aside#cwos-sidebar #cwos-asidewrp #cwos-asidespotlight #cwos-sltitle h4 {
  margin: 0;
  text-align: center;
}
aside#cwos-sidebar #cwos-asidewrp #cwos-asidespotlight #cwos-sltitle h3 {
  color: #1976D2;
  font-size: 1.05em;
  padding: 0;
}
aside#cwos-sidebar #cwos-asidewrp #cwos-asidespotlight #cwos-sltitle h4 {
  color: #233675;
  font-size: 0.9em;
  font-weight: lighter;
  margin: 0;
}
aside#cwos-sidebar #cwos-asidewrp #cwos-asidespotlight #cwos-sltitle #cwos-sptltoggl {
  position: absolute;
  right: 0;
  top: 0;
  width: 40px;
  margin: 0;
  height: 55px;
  background-color: transparent;
  z-index: 7;
  border-radius: 0 3px 3px 0;
  box-shadow: none;
  font-size: 1.5em;
  padding: 12px 8px;
}
aside#cwos-sidebar #cwos-asidewrp #cwos-asidespotlight #cwos-sltitle #cwos-sptltoggl:hover, aside#cwos-sidebar #cwos-asidewrp #cwos-asidespotlight #cwos-sltitle #cwos-sptltoggl.btn-opn {
  background-color: #1976D2;
  color: #ffffff;
}
aside#cwos-sidebar #cwos-asidewrp #cwos-asidespotlight #cwos-sltitle #cwos-sptltoggl::before {
  font-family: "Font Awesome 5 Pro", "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f0d7";
}
aside#cwos-sidebar #cwos-asidewrp #cwos-asidespotlight #cwos-sltitle #cwos-sptltoggl.btn-opn::before {
  content: "\f068";
  font-weight: 400;
}
aside#cwos-sidebar #cwos-asidewrp #cwos-asidespotlight #cwos-sltitle #cwos-sllinks {
  position: absolute;
  left: 0;
  top: 54px;
  width: 100%;
  height: 0;
  overflow: hidden;
  opacity: 0;
  border-radius: 0 0 3px 3px;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
  list-style: none;
}
aside#cwos-sidebar #cwos-asidewrp #cwos-asidespotlight #cwos-sltitle #cwos-sllinks li {
  transition: all 0.2s ease-in;
  padding: 12px 21px;
  color: inherit;
  font-size: 0.85em;
  font-weight: bold;
}
aside#cwos-sidebar #cwos-asidewrp #cwos-asidespotlight #cwos-sltitle #cwos-sllinks li:hover {
  background-color: #ebebeb;
  color: #12579b;
  cursor: pointer;
}
aside#cwos-sidebar #cwos-asidewrp .cwos-snavwrp {
  position: relative;
  width: 100%;
  height: 45px;
  margin: 0;
  padding: 0;
  background-color: #dedede;
  overflow: hidden;
}
aside#cwos-sidebar #cwos-asidewrp .cwos-snavwrp .cwos-snavheadn {
  margin: 0;
  padding: 14px 16px;
  padding-right: 45px;
  height: 45px;
  position: relative;
  width: 100%;
  font-size: 1.15em;
  background-color: #d6d6d6;
  transition: all 0.2s ease-in;
}
aside#cwos-sidebar #cwos-asidewrp .cwos-snavwrp .cwos-snavheadn::after {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  height: 45px;
  width: 45px;
  background-color: #d1d1d1;
  content: "\f078";
  font-family: "Font Awesome 5 Pro", "Font Awesome 5 Free";
  font-weight: 400;
  transition: all 0.2s ease-in;
  text-align: center;
  padding: 12px;
}
aside#cwos-sidebar #cwos-asidewrp .cwos-snavwrp .cwos-snavheadn:hover {
  cursor: pointer;
  background-color: #d1d1d1;
}
aside#cwos-sidebar #cwos-asidewrp .cwos-snavwrp .cwos-snavheadn:hover::after {
  cursor: pointer;
  background-color: #cccccc;
}
aside#cwos-sidebar #cwos-asidewrp .cwos-snavwrp .cwos-sidenav {
  position: relative;
  list-style: none;
  margin: 14px 0;
  padding: 8px 16px;
  padding-left: 21px;
}
aside#cwos-sidebar #cwos-asidewrp .cwos-snavwrp .cwos-sidenav li {
  font-size: 0.95em;
  font-weight: bold;
  padding: 12px 14px;
  position: relative;
  transition: all 0.2s ease-in;
  border-left-width: 7px;
  border-left-color: transparent;
  border-left-style: solid;
  border-bottom: solid 1px #cccccc;
}
aside#cwos-sidebar #cwos-asidewrp .cwos-snavwrp .cwos-sidenav li::after {
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  height: 1px;
  content: "";
  background-color: #1976D2;
  transition: width 0.5s ease-in;
  width: 0px;
}
aside#cwos-sidebar #cwos-asidewrp .cwos-snavwrp .cwos-sidenav li:hover {
  background-color: #d1d1d1;
  color: #1976D2;
  cursor: pointer;
}
aside#cwos-sidebar #cwos-asidewrp .cwos-snavwrp .cwos-sidenav li:hover::after {
  width: 103%;
}
aside#cwos-sidebar #cwos-asidewrp .cwos-snavwrp .cwos-sidenav li.cwos-curnav {
  border-left-color: #1976D2;
}
aside#cwos-sidebar #cwos-asidewrp .cwos-snavwrp.xpndnv .cwos-snavheadn::after {
  content: "\f068";
}
aside#cwos-sidebar #cwos-asidewrp #cwos-sidefoot {
  position: relative;
  margin-top: 100px;
  font-size: 0.75em;
  text-align: center;
  padding: 14px 12px;
  height: 100px;
  width: 100%;
  background-color: #dedede;
}
aside#cwos-sidebar #cwos-asidewrp #cwos-sidefoot .cwos-ftprop {
  font-size: 1em;
  font-weight: bold;
}
aside#cwos-sidebar #cwos-asidewrp #cwos-sidefoot p {
  margin: 3.5px 0;
}
aside#cwos-sidebar.hover {
  overflow-y: auto;
}

section#cwos-content {
  right: 0;
  z-index: 50;
}

#cwos-view-fader {
  position: fixed;
  right: 0;
  background-color: rgba(242, 242, 242, 0.6);
  z-index: 99;
}

#cwos-uiloadr {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 22px;
  z-index: 3000;
  font-size: 1.2em;
  cursor: progress;
}
#cwos-uiloadr::before {
  font-family: "Font Awesome 5 Pro", "Font Awesome 5 Free";
  font-weight: 400;
  content: "\f3f4";
  animation: spin 2s infinite linear;
  display: inline-block;
}
#cwos-uiloadr::after {
  content: "Please wait";
  display: inline-block;
  margin-left: 12px;
}

body.no-scroll,
body.no-scroll section#cwos-content {
  overflow: hidden !important;
}

@media only screen and (min-width: 48em) {
  #cwos-barwrp {
    width: 350px;
  }
  #cwos-mobxtra-icon {
    height: 0px !important;
  }
  #cwos-user #cwos-user-title {
    display: block !important;
  }
  #cwos-user {
    width: 210px !important;
  }
  #cwos-notification {
    right: 210px !important;
  }
  #cwos-cart {
    right: 280px !important;
  }
}/*# sourceMappingURL=dashui.css.map */